.portfolio {
  padding: 0 70px 106px 70px;
  background-color: #202020;
}

.portfolio__heading {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  text-align: left;
  letter-spacing: -0.04em;
}

.portfolio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio__item {
  border-bottom: 1px solid #424242;
}

.portfolio__item:last-of-type {
  border: none;
}

.portfolio__text {
  margin: 20px 0 19px 0;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  transition: opacity 0.5s linear;
}

.portfolio__link:hover {
  opacity: 0.5;
}

.portfolio__image {
  margin-right: 5px;
  margin-top: 5px;
}

@media (max-width: 1279px) {
  .portfolio {
    padding: 0 50px 70px 50px;
  }

  .portfolio__text {
    font-size: 28px;
  }

  .portfolio__item {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (max-width: 767px) {
  .portfolio {
    padding: 0 14px 50px 14px;
  }

  .portfolio__heading {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .portfolio__text {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__image {
    width: 10px;
    height: 10px;
    margin: 28px 5px 5px 0;
  }
}
